<router-outlet></router-outlet>

<div class="container-fluid">
  <div class="row">
    <!--<ng-container *ngFor="let p of data | keyvalue; let j = index ">
      <div class="col-sm">
        <ul class="list-group">
          <li class="list-group-item bg-dark text-white">{{p.key}}</li>
          <li style="" class="list-group-item" *ngFor="let url of p.value; let i = index">
            {{(i + 1 ) + " " + url.toString().replace("https://practice.geeksforgeeks.org/problems/", "").
            replace("/0", "").replace("/1", "")
            }}
          </li>
        </ul>
      </div>
      <div class="w-100" *ngIf="(j+1) % 3 == 0"></div>
    </ng-container>-->

  </div>
</div>
